/* Mobile Adjustments */
@media (max-width: 991.98px) {
    .navbar-collapse {
        max-height: calc(100vh - 70px);
        overflow-y: auto;
    }
    
    .dropdown-menu {
        box-shadow: none;
        border: none;
    }
    
    .dropdown-item,
    .bs-dropdown-item-wrapper {
        border-bottom: none; /* Removed horizontal border */
    }
    
    .dropdown-item:last-child,
    .bs-dropdown-item-wrapper:last-child {
        border-bottom: none; /* Ensure last item definitely has no border */
    }
    
    /* Nested mobile carets rotation */
} 